div.trueHeader
  overflow: hidden
  box-shadow: 0px 2px 2px 0px #eee
  div.container
    display: grid
    width: 100%
    grid-template-columns: minmax(100px,200px) minmax(185px, 1fr) 
    grid-template-areas: "box-1 box-2" "box-3 box-3" "box-4 box-4"
    grid-gap: 5px
    padding: 14px
    margin: 20px 0
    div.visma
      grid-area: box-1
      img 
        width: 100%
    div.pcss
      text-align: right
      grid-area: box-2
      img 
        width: 100%
        max-width: 200px
    div.navbar-toggle
      display: flex
      justify-content: space-between
      grid-area: box-3
      background-color: $nav_bar
      padding: 8px
      font-size: $mediaFont
      line-height: 110%
      border-radius: 5px
      p 
        display: inline-block
        text-transform: uppercase
      i 
        font-size: 1.4rem
    div.defaultmenu
      grid-area: box-4
      height: 0
    div.defaultmenu.active
      height: auto
      transition: 0.5s
      ul 
        li 
          list-style: none
          a 
            display: inline-block
            width: 100%
            font-size: 1.4rem
            padding: 10px 15px 10px 30px
            margin-bottom: 1px
            font-weight: bold
            background-color: #d3d3d3
            color: #454545
            text-transform: uppercase
            text-decoration: none
            &.menu-item
              display: grid
              grid-template-columns: 1fr 30px
              grid-template-areas: "box-1 box-2"
              align-items: center
              &.service.active, &.about.active, &.active_service.arrow.active
                color: #fc4242
              i 
                grid-area: box-2
                display: flex
                height: 100%
                align-items: center
                justify-content: center
                color: gray
                &.icon
                  transform: rotate(90deg)
                  color: #fc4242
            &.active_service
              font-size: 1.3rem
              padding-left: 40px
              margin-bottom: 0
              border-bottom: 1px solid #d3d3d3
              text-transform: none
              font-weight: normal
              background-color: #eee
              &.arrow
                i 
                  font-size: 1rem
                  color: gray
                  &.icon
                    color: #fc4242
              &.integrations
                padding-left: 60px
                  
            
                